.quick-actions-button {
  background-color: #4c5b9e;
  border: none;
  border-radius: 5px; /* Make the border-radius smaller for a square look */
  color: white;
  padding: 10px; /* Set equal padding for top/bottom and left/right */
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  flex: 1;

  /* Set width and height to be equal for a square button.
     Use the 'min' property to ensure the button remains square on smaller screens. */
  width: min(10vw, 100px); /* Adjust the size as needed */
  height: min(10vw, 100px); /* Adjust the size as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adjust the quick-actions-container to ensure buttons fit properly */
.quick-actions-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center; /* This ensures vertical alignment if the buttons have different heights */
  flex-wrap: wrap; /* Allows buttons to wrap on smaller screens */
  gap: 10px; /* Provides space between buttons if they wrap */
  width: 100%;
}

.quick-actions-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quick-actions-modal-content {
  margin: 15px;
  text-align: center;
}

.quick-actions-modal-close {
  cursor: pointer;
  color: #1f1f29;
  padding: 8px 16px;
}

.quick-actions-modal-close:hover {
  background-color: #f0f0f0;
}
