/* App.css */

.app-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-page,
.dash-page {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.dash-page {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 50%; /* Adjust the width as needed */
  /* Removed overflow-y properties */
}

.message-box {
  flex: 1; /* Takes up all available space */
  overflow-y: auto; /* Allows scrolling for chat history */
  padding: 1rem; /* Provides some spacing for the chat messages */
  background-color: #35354c;
  border-radius: 5px;
}

.input-box {
  display: flex;
  justify-content: space-between;
  padding: 1rem; /* Provides some spacing around the input */
}

.input-box input {
  flex: 1; /* Allows the input field to take up the majority of the space */
  margin-right: 0.5rem; /* Provides some spacing between the input field and the button */
}

.facility-header {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

/* DashCard */
.dash-card {
  background-color: #2a333d;
  border-radius: 8px;
  border: solid 3px white;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dash-card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dash-card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dash-card-label {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.hor-group {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}

.dash-card-value {
  color: #ecf0f1;
  font-size: 24px;
  margin-bottom: 8px;
}

.dash-card-descriptor {
  color: #bdc3c7;
}

.dash-card-icon {
  width: 24px;
  height: 24px;
}
